body {
    background-image: url(images/banks_of_the_seine\,_vetheuil_1963.10.177.jpg);
    background-size: cover;
    display: flex;
}
button {
    background-color: hsla(130, 33%, 72%, 0.905); 
    border-color: aliceblue;
    border-radius: 15%;
}
.timer {
    position: absolute;
    font-family: Optima, sans-serif;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 200px;
    color: rgb(23, 42, 23);
}

.label {
    position: absolute;
    font-family: Optima, sans-serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 25px;
    color: rgb(36, 59, 36);
}

.progress {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:hsla(135, 100%, 98%, 0.905); 
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
    color: rgb(36, 59, 36);
    font-family: Optima, sans-serif;
}

#progress{
    background-color: hsla(131, 18%, 70%, 0.905); 
    width: 0%;
    /* Adjust with JavaScript */
    font-family: Optima, sans-serif;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}
 
.settings .closeSet {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 25px;
}

.row { 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin-bottom: 20px;
}
  
.column {
    flex: 0 0 auto;
    width: 33%;
}

#restartBtn {
    position: absolute;
    top: 64%;
    left: 41%;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    font-family: Optima, sans-serif;
}

#startBtn {
    font-size: 30px;
    position: absolute;
    top: 63%;
    left: 46%;
    justify-content: center;
    text-align: center;
    font-family: Optima, sans-serif;
}

#stopBtn {
    font-size: 30px;
    position: absolute;
    top: 63%;
    left: 46%;
    justify-content: center;
    text-align: center;
    font-family: Optima, sans-serif;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
}

.sidebar {
    height: 100%; 
    width: 0px; 
    position: absolute; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: hsla(133, 42%, 83%, 0.905); 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 25px;
    color:rgb(23, 42, 23);
}

#openbtn {
    position: absolute;
    font-family: Optima, sans-serif;
    top: 15px;
    right: 15px;
    font-size: 15px;
    padding: 10px 10px;
    margin-left: 50px;
}

.toDo {
    position: absolute;
    width: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    /*text-align: center; */
}

#listHead {
    text-align: center;

}

#listHead h2 {
    color: rgb(36, 59, 36);
    font-family: Optima, sans-serif;
}

#inputTask {
    width: 110px;
    font-family: Optima, sans-serif;
    
}

#listDiv {
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(36, 59, 36);
    font-family: Optima, sans-serif;
}

.sidebar ul {
    width: 200px;
    padding: 0px 40px 0px 40px;
}

.sidebar ul li{
    list-style: none;
    font-size: 20px;
    padding: 10px 40px 10px 20px;
    user-select: none;
    position: relative;
    max-width: 200px;
    cursor: pointer;
    word-wrap: break-word;
    /*account for long tasks */
    font-family: Optima, sans-serif;
}

#listDiv ul li::before{ /*the circles to check off*/
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    transform: translate(-35px, 0);
    cursor: pointer;
}

#listDiv ul li.checked {
    color: grey;
    text-decoration: line-through;
}

#listDiv ul li.checked::before {
    background-image: url(images/checked.png);
}

#listDiv ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: grey;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

#listDiv ul li span:hover {
    background-color: rgb(241, 240, 240);
}
